.beatmapDisplay {
    margin-right: 0;
    margin-left: auto;
    padding: 20px;

    width: 200px;

    text-align: right;
    border-radius: 50px;
    background-color: rgba(120, 120, 120, 0.2);

    position: absolute;
    bottom: 20px;
    right: 20px;
    transition: 0.5s ease;
}




.titleContainer {
    line-height: 25px;
    position: relative;
}
.title {
    font-size: 150%;
    font-weight: 800;
}
.subtitle {
    font-size: 100%;
    font-weight: 200;
}





.coverText {
    position: absolute;
    line-height: 35px;
    padding: 10px;
    bottom: 0;
    right: 0;
}
.difficulty {
    background-color: rgb(100, 100, 100, 0.5);
    border-radius: 5px;

    padding: 3px;
    font-size: 150%;
    font-weight: 200;
}
.bpm {
    padding: 3px;
    font-size: 150%;
    font-weight: 200;
}
.njs {
    padding: 3px;
    font-size: 150%;
    font-weight: 200;
}
.coverContainer {
    position: relative;
    height: 200px;
    width: 200px;
}
.cover {
    position: absolute;
    z-index: -1;
    opacity: 0.5;

    right: 0px;
    height: 200px;
    width: 200px;

    border-radius: 10px;
}





.author {
    font-size: 150%;
    font-weight: 200;
}
.mapper {
    font-size: 150%;
    font-weight: 200;
}
.songPrefix {
    font-size: 80%;
    font-weight: 100;
    color: lightgray;
}
.metaContainer {
    line-height: 25px;
}