.progressBar {
    position: absolute;
    bottom: 0px;
    right: 0px;

    padding: 5px;
    margin: 0px;

    width: 500px;
    justify-content: center;
}

.time {
    filter: blur(0px);
}

.redSaber {
    margin: 0px;
    width: 100%;
    height: 20px;

}

.redHandle {
    float: left;

    text-align: center;

    height: 100%;
    width: 18.8%;

    border-right-width: 0.5%;
    border-right-style: solid;
    border-left-width: 0.5%;
    border-left-style: solid;
    border-color: white;

    background-color: rgb(194, 10, 10);
    filter: blur(0.2px);
}

.redBlade {
    float: left;

    height: 100%;
    width: 80%;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    background-color: rgb(194, 10, 10);
    filter: blur(2px);
}



.blueSaber {
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;

    width: 100%;
    height: 20px;

    justify-content: center;
}

.blueHandle {
    float: right;

    text-align: center;

    height: 100%;
    width: 18.8%;

    border-right-width: 0.5%;
    border-right-style: solid;
    border-left-width: 0.5%;
    border-left-style: solid;
    border-color: white;

    background-color: rgb(18, 92, 188);
    filter: blur(0.1px);
}

.blueBlade {
    float: right;

    height: 100%;
    width: 80%;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    background-color: rgb(18, 92, 188);
    filter: blur(2px);
}
